  name: Node.js CI

  on:
    push:
      branches: [ master ]
    pull_request:
      branches: [ master ]

  jobs:
    build:

      runs-on: self-hosted

      strategy:
        matrix:
          node-version: [12.x]
          # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

      steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: npm install, build
        run: |
          npm run build-prod
          npm start
          cd ..
          pm2 stop 0
          pm2 start 0
          pm2 save
          sudo service nginx restart

