name: Push to master

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: self-hosted
    steps:
    # the checkout action persists the passed credentials by default
    # subsequent git commands will pick them up automatically
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      with:
        node_version: ${{ matrix.node_version }}
    - run: npm install
    - run: npm test
